.gh-article-image {
    margin: 0 0 64px;
}

.gh-article-title {
    font-size: 3.2rem;
}

.gh-article-excerpt {
    margin-top: 16px;
    font-size: 1.8rem;
}

.gh-article-image img,
.gh-content img {
    max-height: 80vh;
    width: auto;
    margin-right: auto;
    margin-left: auto;
}

.gh-content {
    margin-top: 28px;
}
