/* Plus Jakarta Sans — logo, nav */
@font-face {
    font-family: Plus Jakarta Sans;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/PlusJakartaSans-Regular.woff2") format("woff2"), url("../fonts/PlusJakartaSans-Regular.woff") format("woff");
}

@font-face {
    font-family: Plus Jakarta Sans;
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/PlusJakartaSans-Medium.woff2") format("woff2"), url("../fonts/PlusJakartaSans-Medium.woff") format("woff");
}

@font-face {
    font-family: Plus Jakarta Sans;
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/PlusJakartaSans-SemiBold.woff2") format("woff2"), url("../fonts/PlusJakartaSans-SemiBold.woff") format("woff");
}

@font-face {
    font-family: Plus Jakarta Sans;
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/PlusJakartaSans-Bold.woff2") format("woff2"), url("../fonts/PlusJakartaSans-Bold.woff") format("woff");
}

/* JetBrains Mono — blog headings */
@font-face {
    font-family: JetBrains Mono;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/JetBrainsMono-Regular.woff2") format("woff2");
}

@font-face {
    font-family: JetBrains Mono;
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/JetBrainsMono-Medium.woff2") format("woff2");
}

@font-face {
    font-family: JetBrains Mono;
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/JetBrainsMono-SemiBold.woff2") format("woff2");
}

@font-face {
    font-family: JetBrains Mono;
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/JetBrainsMono-Bold.woff2") format("woff2");
}

@font-face {
    font-family: JetBrains Mono;
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/JetBrainsMono-Italic.woff2") format("woff2");
}

@font-face {
    font-family: JetBrains Mono;
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/JetBrainsMono-BoldItalic.woff2") format("woff2");
}

/* Space Mono — blog body text */
@font-face {
    font-family: Space Mono;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/SpaceMono-Regular-webfont.woff") format("woff");
}

@font-face {
    font-family: Space Mono;
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/SpaceMono-Bold-webfont.woff") format("woff");
}

@font-face {
    font-family: Space Mono;
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/SpaceMono-Italic-webfont.woff") format("woff");
}

@font-face {
    font-family: Space Mono;
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/SpaceMono-BoldItalic-webfont.woff") format("woff");
}
